
.width-max {
    max-width: 230px;
  
}
  
.design-card{
    display: inline-block;
    margin: 2rem;
}

.card-title{
    color:var(--color-title-primary);
}

.card-subtitle{
    color:var(--color-subtitle-primary);
}